
@font-face {
  font-family:FranklinGothic-Medium;/*指定下面路徑的字體名稱*/
  src:url('http://localhost:9453/static/Franklin-Gothic-Medium.ttf');
  /*關於不同瀏覽器字體不同的問題
  通常會需要額外做修正，但現代瀏覽器基本可以通吃
  所以chrome跟safari不同的問題通常是語法問題
  路徑加上雙引號就好了 因為safari無法自動辨識路徑*/
}

/*新增其他字體*/
@font-face {
  font-family:FranklinGothic-MedCnd;
  src:url('http://localhost:9453/static/franklingothic-medcnd.otf');
}
@font-face {
  font-family:Franklin-Gothic-Heavy;
  src:url('http://localhost:9453/static/FranklinGothicHeavyRegular.ttf');
}
@font-face {
  font-family:ITCFranklinGothicDemi Oblique;
  src:url('http://localhost:9453/static/ITCFranklinGothicDemiOblique.otf');
}
@font-face {
  font-family:FranklinGothic-Ital;
  src:url('http://localhost:9453/static/FranklinGothicHeavyItalic.ttf');
}

.container {
    /*max-width: 800px;*/
    /*height: 100vh;*/
    /*height: 2000px;*/
    width: 1275px;
    height: 1650px;
    margin:0;
    /*border: 1px solid red;*/
    position: absolute;
    
}
body{
    margin: 0;
    background-color:#FFFFFF; 
}

/*PHOTO*/

img {
    position:absolute;
    top:0;
    bottom:0;
    margin: auto;
    width:100%;
}

.Dumbo_Enquirer_Template{
    z-index: 1;
    left: 0px;
    width: 1275px;
    height: 1650px;
    position: absolute;
}

.n1_q2{
    z-index: 0;
    left: 651px;
    top: 998px;
    width: 266px;
    height: 243px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}

.n2_q2{
    z-index: 0;
    left: 941px;
    top: 998px;
    width: 266px;
    height: 243px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}

.w1i_q5_pp{
    z-index: 0;
    left: 68px;
    top: 633px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
}

.w2i_q5_pp{
    z-index: 0;
    left: 359px;
    top: 482px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}

.w3i_q5_pp{
    z-index: 0;
    left: 650px;
    top: 631px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}

.f_q4_pp{
    z-index: 0;
    left: 359px;
    top: 959px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}
.w3h_q3{
    z-index: 0;
    left: 68px;
    top: 1185px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}

.n3_q2{
    z-index: 0;
    left: 651px;
    top: 1257px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}

.n4_q2{
    z-index: 0;
    left: 940px;
    top: 1257px;
    width: 265.5px;
    height: 354.6px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    
}


/*TEXT*/


.headline_1{
    z-index: 2;
    width: 1080.7px;
    height: 68.7px;
    font-family: ITCFranklinGothicDemi Oblique;
    /*font-family: FranklinGothic-Demi;*/
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-style: oblique;
    letter-spacing: -1.4px;
    
    color: #FFFFFF;
    margin: 0;
    top: 285px;
    left: 88px;
    position: absolute;
}

.headline_2{
    z-index: 2;
    width: 325.7px;
    height: 92px;
    font-family: FranklinGothic-Ital;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 46.0px;
    letter-spacing: -1.4px;
    text-decoration: underline;
    -webkit-text-underline-position: under;
	-ms-text-underline-position: below;
	text-underline-position: under; 
    margin: 0;
    color: #FFFFFF;
    top: 80px;
    left: 864px;
    position: absolute;
}

.byline_1{
    z-index: 2;

    width: 280.8px;
    height: 21px;
    font-family:ITCFranklinGothicDemi Oblique;
    font-size: 25px;
    font-weight: normal;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    
    margin: 0;
    color: #FFFFFF;
    left: 87px;
    top: 391px;
    position: absolute;
}

.w1i_q4_w1h_q3{
    z-index: 2;

    width: 253.1px;
    height: 240px;
    font-family:FranklinGothic-MedCnd;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #000000;
    
    margin: 0;
    left: 947px;
    top: 447px;
    position: absolute;
}

.w2i_q4_w2h_q3{
    z-index: 2;

    width: 242.7px;
    height: 216px;
    font-family: FranklinGothic-MedCnd;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    color: #000000;
    
    margin: 0;
    left: 947px;
    top: 746px;
    position: absolute;
}

.h4_q3{
    z-index: 2;

    width: 259px;
    height: 168px;
    font-family: FranklinGothic-MedCnd;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    color: #000000;
    
    margin: 0;
    left: 75px;
    top: 1047px;
    position: absolute;
}

.w3i_q4{
    z-index: 2;

    width: 166.1px;
    height: 46px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: oblique;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: -0.4px;
    text-align: right;
    color: #ffffff;
    
    margin: 0;
    left: 170px;
    top: 1366px;
    position: absolute;
}

.f_q4{
    z-index: 2;

    width: 259px;
    height: 168px;
    font-family: FranklinGothic-MedCnd; 
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    color: #000000;
    
    margin: 0;
    left: 367px;
    top: 1245px;
    position: absolute;
}





